@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(153, 153, 153);
  --background-color: rgb(255, 255, 255);
  --background-card-color: rgb(205, 255, 201);
}

html,
body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  color: var(--primary-color);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  display: grid;
  grid-template-columns: minmax(auto, 50%) 1fr;
  width: 100vw;
  height: clamp(10vh, 8vw, 20vh);
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: 10;
}
